
/*Gestion de la police de la page et du background */
body {
	background-image: url("../img/background.jpg");
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
 	background-size: cover;	
}
/*Partie pour la main list */
.containerList{
	  background: rgba(0,0,0, 0.7) ;	
	  padding: 10px;	
	  margin: 30px 0px 30px 0px;
	  border-radius: 5px;
	  color: white;

}
/*Modification de la couleur de l'input*/
.inputClass{
	color: white;}

/*Titre*/

h1{
	text-align: center;
}




